# Required packages

In [1]:
import numpy as np
import OpenGL as gl
import glfw

In [2]:
print (np.__version__)
print (gl.__version__)
print (glfw.__version__)

1.13.1
3.1.0
1.5.1

## Basic Data Types

In [3]:
1 + 1

2

In [4]:
a = 4
type (a)

int

In [5]:
c = 2.1
type(c)

float

In [6]:
3 > 4

False

In [7]:
test = (3 > 4)
print (test)
print (type(test))

False
<class 'bool'>

## Basic Operators

In [8]:
x = 3
print (x + 1)
print (x - 1)
print (x * 2)
print (x ** 2)

4
2
6
9

In [9]:
t = True
f = False
print (type(t))
print (t and f)
print (t or f)
print (not t)
print (t != f)

<class 'bool'>
False
True
False
True

## Sequence Types

In [10]:
tu = (23, 'abc', 4.56, (2, 3), 'def')
st = 'Hello World'
stm = """This is multi-line
string that uses triple quites."""
li = ['abc', 34, 4.34, 23]

## Slicing

In [11]:
print (tu[1:4])
print (tu[1:-1])
print (tu[:2])
print (tu[2:])

('abc', 4.56, (2, 3))
('abc', 4.56, (2, 3))
(23, 'abc')
(4.56, (2, 3), 'def')

## `IN` Operator

In [12]:
t = [1, 2, 4, 5]
print (3 in t)
print (4 in t)
print (4 not in t)

False
True
False

In [13]:
a = 'abcde'
print ('c' in a)
print ('cd' in a)
print ('ac' in a)

True
True
False

## `+` Operator

In [14]:
print ((1, 2, 3) + (4, 5, 6))
print ([1,2,3] + [4, 5, 6])
print ("Hello" + " " + "World")

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World

## `*` Operator

In [15]:
print ((1, 2, 3) * 3)
print ([1, 2, 3] * 3)
print ("Hello" * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
HelloHelloHello

## Loop for Sequence Types

In [16]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print (animal)
for idx, animal in enumerate(animals, 1):
    print ('#%d: %s' % (idx, animal))

cat
dog
monkey
#1: cat
#2: dog
#3: monkey

## Dictionary

In [17]:
d = {'cat': 'cute', 'dog': 'furry'}
print (d['cat'])
print ('cat' in d)
d['fish'] = 'wet'
print (d['fish'])
# print (d['monkey']) 'raise KeyError: 'monkey'

cute
True
wet

In [18]:
print (d.get('monkey', 'N/A'))
print (d.get('fish', 'N/A'))
del d['fish']
print (d.get('fish', 'N/A'))

N/A
wet
N/A

In [19]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    print ('A %s has %d legs' % (animal, d[animal]))
for animal, legs in d.items():
    print ('A %s has %d legs' % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs
A person has 2 legs
A cat has 4 legs
A spider has 8 legs

## Control Flow

In [20]:
for i in range(10):
    print (i, end=', ')
print ()
for i in range(3, 10):
    print (i, end=', ')
print ()
for i in range(0, 10, 2):
    print (i, end=', ')
print ()

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
3, 4, 5, 6, 7, 8, 9,
0, 2, 4, 6, 8,

In [21]:
i = 0
while i < 10:
    i += 1
    print (i, end='')
print ()

12345678910

## Function

In [22]:
def sign(x):
    if x > 0: return 'positive'
    elif x < 0: return 'negative'
    else: return 'zero'
for x in range(-1, 2):
    print (sign(x))

negative
zero
positive

In [23]:
class Student(object):
    def __init__(self, name):
        self.name = name
    def set_age(self, age):
        self.age = age
    def set_major(self, major):
        self.major = major
anna = Student('anna')
anna.set_age(21)
anna.set_major('physics')

In [24]:
class MasterStudent(Student):
    def set_lab(self, lab):
        self.lab = lab